/* Color Pallette (tentative): #EEEEEE, #DDDDDD, #CCCCCC, #BBBBBB, #333333 */
 
body {

   background-color: #333333;
   font-family: 'Montserrat', arial; 
   

}



.w3-border {

margin: 6.25em


}

.Menu {

   list-style: none;
   color: white;
   text-align: center;
  
   



}

.Home {

}

.About {

   margin-left: 5%;

}

.Goals {

   margin-left: 5%;

}

.Projects {

   margin-left: 5%;

}


li {
   
   display: inline;

}

